accelerate
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
attrs
banks
beautifulsoup4
cbor
certifi
charset-normalizer
click
colorama
colorlog
dataclasses-json
datasets
defusedxml
Deprecated
dill
dirtyjson
docling
docling-core
docling-ibm-models
docling-parse
einops
et_xmlfile
Faker
fastapi
fastembed
filelock
filetype
flatbuffers
frozenlist
fsspec
greenlet
griffe
griffecli
griffelib
grpcio
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
ijson
iniconfig
inscriptis
ir_datasets
Jinja2
joblib
jsonlines
jsonref
jsonschema
jsonschema-specifications
latex2mathml
llama-index-core
llama-index-instrumentation
llama-index-workflows
loguru
lxml
lz4
markdown-it-py
marko
MarkupSafe
marshmallow
mdurl
mmh3
mpire
mpmath
multidict
multiprocess
mypy_extensions
nest-asyncio
networkx
nltk
numpy
ollama
omegaconf
onnxruntime
opencv-python
openpyxl
packaging
pandas
peft
pillow
platformdirs
pluggy
polyfactory
portalocker
propcache
protobuf
psutil
psycopg2-binary
py_rust_stemmers
pyarrow
pyclipper
pydantic
pydantic-settings
pydantic_core
Pygments
pylatexenc
pypdf
pypdfium2
pytest
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
PyYAML
qdrant-client
rank-bm25
rapidocr
referencing
regex
requests
rich
rpds-py
rtree
safetensors
scikit-learn
scipy
semchunk
sentence-transformers
sentencepiece
setuptools
shapely
shellingham
six
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tinytag
tokenizers
tqdm
transformers
trec-car-tools
tree-sitter
tree-sitter-c
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
unlzw3
urllib3
uvicorn
warc3-wet
warc3-wet-clueweb09
websockets<16.0
win32_setctime
wrapt
xlsxwriter
xxhash
yarl
zlib-state
SpeechRecognition
pymongo
certifi
